html{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url("mobile.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar a{
    text-decoration: none;
    color: white;
    padding: 20px 15px;
    font-family: 'Lato', sans-serif;
}
.hamborgerImage{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.bar{
    background-color: white;
    width: 20px;
    height: 2px;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: .6s;
}
.navLinks{
    position: absolute;
    width: 100vw;
    top: 60px;
    text-align: center;
    overflow: hidden;
}
.navLinks ul{
    width: 100%;
    background-color: white;
    list-style-type: none;
    transform: translateY(-100%);
    transition: .6s;
}
.navLinks li{
    padding: 10px;
}
.navLinks a{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.navLinks a:hover{
    text-decoration: underline;
}
input.headerBar{
    display: none;
}
label{
    cursor: pointer;
}
input.headerBar:checked ~ .navLinks ul{
    transform: translateY(0);
}
input.headerBar:checked + .labelBar .bar1{
    transform: rotateZ(45deg);
    transform-origin: top left;
}
input.headerBar:checked + .labelBar .bar2{
    opacity: 0;
}
input.headerBar:checked + .labelBar .bar3{
    transform: rotateZ(-45deg);
    transform-origin: bottom left;
}
.midText{
    color: white;
    height: 44%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
.midText h2{
    font-size: 3em;
    font-weight: bolder;
}
.midText p{
    font-size: 2.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.midText span{
    font-weight: 500;
}
.midText ::selection{
    background-color: white;
    color:black;
}
.icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.icons img{
    width: 23px;
}
.icons img.twitter{
    width: 18px;
}
.icons img.meta{
    width: 28px;
}
.icons a{
    padding-right: 10px;
}

/* About Section */

.about{
    display: flex;
    flex-direction: column;
    padding: 45px 20px;
}
.aboutImages{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 20px 0px;
}
img.me_irl{
    width: 85%;
}
img.dots{
    width: 85%;
    height: 93%;
    left: 0;
    position: absolute;
    z-index: -1;
}
.greyAbout{
    width: 85%;
    height: 93%;
    position: absolute;
    background-color: rgb(190, 190, 190, 0.3);
    z-index: -2;
    right: 0;
    bottom: 70px;
}
.content{
    display: flex;
    flex-direction: column;
}
.content h1{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}
.content p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    font-weight: 500;
    font-size: 0.95em;
    line-height: 1.4;
    margin-bottom: 30px;
}
.content span{
    font-weight: 600;
}
p.role{
    font-family: 'Montserrat', sans-serif;
    padding-top: 2px;
    margin-bottom: 0px;
    font-size: 1.1em;
    font-weight: 400;
}
.skillBar{
    font-family: 'Lato', sans-serif;
    border-radius: 6px;
    color: white;
    margin-bottom: 30px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
.black{
    padding: 6px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}
.webDev{
    width: 90%;
}
.webDev::after{
    content: '90%';
}
.python{
    width: 85%;
}
.python::after{
    content: '85%';
}
.java{
    width: 75%;
}
.java::after{
    content: '75%';
}



@media screen and (min-width: 1024px) {
    header{
        background-image: url("pc.jpg");
    }
}
